
.body {
	background: #fcfdfd;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	margin:0px 0px;    
}
.titulo{
    font-family: 'Londrina Outline', cursive;
	margin-left: 20px;
	font-size: 50px;

}

.container {
	margin: auto;
	max-width: 990px;
    width: 80%;
    height: 90px;
    
}

.container-principal {
	background: #B56EE3 ;
	color: #fff;
	padding: 50px 0;
	width: 100%;
	height: 210px;
    border-bottom: 5px solid rgb(190, 94, 190);
}

.conainer-principal .formulario {
	color: #212121;
    text-align: center;
    display: inline-block;
    
}

.formulario input[type=text] {
	margin:0px 0px 20px 20px;
	width: 80%;
	padding: 10px;
    border-radius: 30px;
	border-style: none;
	font-family: 'Overlock', cursive;

	
}

.container-principal .formulario input[type=text].error {
	border: 2px solid #D32F2F;
	color: red;
}

.boton{
    background: lightseagreen;
	color: #fff;
    padding: 10px;
	border-radius: 50px;
	border-style: none;
	margin-left: 20px;
	font-family: 'Overlock', cursive;

}


.container-principal .formulario .boton:hover {
    border: 1px solid #fff;

}

.tareas .lista {
    list-style: none;
}

.tareas .lista li {
    border-bottom: 1px solid #B6B6B6;
    list-style: circle;
}

.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
	font-family: 'Overlock', cursive;
	font-size: 20px;

}

.tareas .lista li a:hover {
	text-decoration: line-through;
	color: red;
}


@media(max-width:576px){
	.container-principal{
		height: 250px;
	}
	.boton{
		margin-left: 80px;
	}
	
}




